.content {
  position: relative;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.controls{
  margin-right: 10px;
}
.controls input{
  padding: 5px 10px;
  border-radius: 5px;
}
.button{
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.error{
  position: absolute;
  top: 20px;
  left: 10px;
  color: red;
}
@media only screen and (max-width: 1024px){
  .button{
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px){
  .controls input{
    width: 150px;
  }
}
@media only screen and (max-width: 768px){
  .controls input{
    width: 120px;
  }
}