.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item{
  margin-right: 10px;
}
.item button{
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 1024px){
  .item button{
    font-size: 14px;
  }
}