.header{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid black;
}
@media only screen and (max-width: 1280px){
  .header{
    width: 90%;
  }
}
@media only screen and (max-width: 991px){
  .header{
    width: 100%;
  }
}