.form {
  width: 60%;
  margin: auto;
  margin-top: 40px;
}

.form fieldset {
  padding: 40px;
}
.form legend{
  font-size: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls input {
  flex: 3;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
}

.controls label {
  flex: 1;
  font-size: 18px;
}

.button {
  text-align: center;
  margin-top: 10px;
}
.button button{
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}
@media only screen and (max-width: 1280px){
  .form{
    width: 70%;
  }
}
@media only screen and (max-width: 1024px){
  .form{
    width: 80%;
  }
}
@media only screen and (max-width: 991px){
  .form{
    width: 90%;
  }
}