.cardContent{
  display: flex;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  border: 1px solid;
  padding: 10px;
}
.itemLeft{
  width: 40%;
}
.itemRight{
  width: 60%;
  padding: 0 40px;
  text-align: justify;
  font-size: 1.125rem;
}
.itemRight .movieTitle{
  color: brown;
  font-size: 25px;
  margin: 10px 0;
}
@media only screen and (max-width: 1024px){
  .itemRight{
    padding: 0 20px;
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 992px){
  .itemRight{
    padding: 0 20px;
    font-size: 1rem;
  }
}